electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
save-exact=true
engine-strict=true

#//registry.npmjs.org:_authToken=${NPM_TOKEN}
